<header>
  <div class="main-container">
    <div class="d-flex">
      <a href="/" class="logo">Food Mine</a>
    </div>
    <nav>
      <ul class="nav-list align-item-center">
        <li class="d-flex">
          <a>Login</a>
        </li>
        <li class="nav-item dropdown d-flex">
          <a class="dropdown-toggle" id="profile-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Anshu</a>
          <div class="dropdown-menu dropdown-menu-left dropdown-menu-lg-left" aria-labelledby="profile-dropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Orders</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
        <li>
          <div class="d-flex">
            <a href="/">Cart
              <span>3</span></a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
